<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Service</title>
    <meta name="" content="A cool thing made with HyperDev">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/index.css">
  </head>

  <body>
    <header>
      <h1>
        Timestamp Microservice
      </h1>
    </header>

    <main>

<h2>A simple service that converts a date to Unix timestamp.</h2>
<h3>To use</h3>
<p>Enter a "/" and a Unix timestamp or a date after the web address in the address bar and press enter.</p>
<p>You will then be taken to a page that shows the conversion in JSON format.</p>
<br/>
<h2>Examples</h2>
<p>http://name.com/1441252800 will give you</p>
<p>unix: 1441252800 natural: "September 5, 2015" </p>
<br/>
<p>http://name.com/September 5, 2015 will give you</p>
<p>unix: 1441252800 natural: "September 5, 2015"</p>

    </main>

    <footer>
     


    </footer>

  </body>
</html>
